@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.sidebar {
    width: 224px;
    height: 10vh;
    background-color: rgba(255, 255, 255, 1);
    border: 0px, 1px, 0px, 0px;
    top: 3px;
}

.Header, .Board, .Analytics, .Setting {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 10px;
}

.proImg, .boardImg, .analImg, .settingImg {
    height: 24px;
    width: 24px;
    margin-top: 20px;
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

 .btn1, .btn2, .btn3 {
    border: none;
    background-color: transparent;
    outline: none;
    margin-top: 22px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: rgba(112, 112, 112, 1);
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s, background-color 0.3s;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
  color: black;
  background-color: rgba(67, 145, 237, 0.1);
}


.footer {
    display: flex;
    flex-direction: row;
    margin-top: 60vh;
    gap: 5px;
}

.logoutImg {
    height: 18.5px;
    width: 12.24px;
    margin-left: 10px;
    padding-top: 3px;    
}

.btn4{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: rgba(112, 112, 112, 1);
    font-weight: 500; 
    font-size: 16px;
    color: red;
}