@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 61, 67, 0.55);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 335.19px;
    height: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }

  .messageLogout {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .Btns {
    display: flex;
    flex-direction: column;
    padding: 17px, 4px, 17px, 4px;
    gap: 10px;
  }

  .Btn_1 {
    background-color: rgba(23, 162, 184, 1);
    width: 300px;
    height: 45px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .Btn_2 {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    height: 45px;
    border: 2px solid red;
    border-radius: 20px;
    outline: none;
    color: red;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  
  